# Cache files
__pycache__/
.cache/
*.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc

# Database
*.db
instance/
*.sqlite3

# Environment
.env
.venv
env/
venv/

# Dependencies
node_modules/

# Configuration
server/config.py
